programs/CreateKnightSquireXml/CreateKnightSquireXml/ks_relationships.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"  xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name="knights">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="knight">
          <xs:complexType id="KnightType" xmlns:id="KnightType">
            <xs:sequence>
              <xs:element name="society_precedence" type="xs:Short" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="type" type="xs:string" />
              <xs:element name="squires" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="knight" type="xs:KnightType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>